Repository aster-do/aster, pull requests merged in 2023-06, with the labels that each got.

#77 feat: add navbar
  frontend/package-lock.json
  frontend/package.json
  frontend/public/logo.png
  frontend/src/common/components/AppLayout.tsx
  frontend/src/common/components/Navbar.tsx
  frontend/src/common/components/theme.ts
  frontend/src/common/contexts/AccountContext.tsx
  frontend/src/common/models/account.ts
  frontend/src/common/navigation/index.ts
  frontend/src/common/navigation/models.ts
  frontend/src/dashboard/Routes.tsx
  frontend/src/dashboard/components/hello.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/invoice/Routes.tsx
  frontend/src/metrics/Routes.tsx
  frontend/src/notifier/Routes.tsx
Labels: Frontend

#76 feat: create BillableBuilderService
  Cargo.lock
  billable/Cargo.toml
  billable/src/billable_builder_service.rs
  billable/src/lib.rs
  billable/src/transformer.rs
Labels: Billable Builder

#90 feat: add frontend base panel
  frontend/src/common/components/AppLayout.tsx
  frontend/src/common/components/Navbar.tsx
  frontend/src/common/components/theme.ts
  frontend/src/common/navigation/index.ts
  frontend/src/dashboard/components/hello.tsx
Labels: Frontend

#94 feat: run BillableBuilderService in main
  aster/src/main.rs
  billable/src/billable_builder_service.rs
Labels: Billable Builder

#95 feat: add dashboard readme
  dashboard/README.md
Labels: Dashbord

#91 feat: bootstrap alerting interface
  Cargo.lock
  alerting/Cargo.toml
  alerting/src/controllers/billable.rs
  alerting/src/controllers/rule.rs
  alerting/src/lib.rs
  aster/src/main.rs
  notification/Cargo.toml
  notification/src/controllers/channel.rs
  notification/src/lib.rs
Labels: Notifications, Alerting

#112 feat: add logs to billable builder
  billable/src/billable_builder_service.rs
Labels: Billable Builder

#108 feat(dashboard): add dashboard billable endpoint
  Cargo.lock
  common/Cargo.toml
  common/src/models/billable.rs
  dashboard/Cargo.toml
  dashboard/src/dto/filters/frequency.rs
  dashboard/src/dto/filters/mod.rs
  dashboard/src/dto/filters/operator.rs
  dashboard/src/dto/mod.rs
  dashboard/src/lib.rs
  dashboard/src/router.rs
  dashboard/src/routes/billables.rs
  dashboard/src/routes/mod.rs
Labels: Dashbord

#114 feat: readiness logic
  Cargo.lock
  aggregator/Cargo.toml
  aggregator/src/lib.rs
  alerting/src/controllers/rule.rs
  alerting/src/lib.rs
  billable/Cargo.toml
  billable/src/billable_builder_service.rs
  billing/src/services/mod.rs
  collector/src/lib.rs
  common/src/lib.rs
  common/src/monitoring/mod.rs
  connector/Cargo.toml
  connector/src/lib.rs
  controller/Cargo.toml
  controller/src/lib.rs
  dashboard/src/router.rs
  notification/src/controllers/channel.rs
  notification/src/lib.rs
Labels: Dashbord, Billable Builder, Notifications, Alerting, Controller, Collecteur, Billing, Connecteur, Agregator

#132 feat: fetch rules from controller
  Cargo.lock
  Cargo.toml
  billable/Cargo.toml
  billable/src/billable_builder_service.rs
  common/src/models/billable_rules/billable_rule.rs
Labels: Billable Builder

#133 feat(dashboard): query the aggregates in the database
  Cargo.lock
  dashboard/Cargo.toml
  dashboard/src/dto/billable.rs
  dashboard/src/dto/mod.rs
  dashboard/src/routes/billables.rs
Labels: Dashbord

#151 feat: create rules panel
  frontend/src/common/api/index.ts
  frontend/src/common/api/swr.ts
  frontend/src/common/api/urlUtils.ts
  frontend/src/common/components/LoadingWrapper.tsx
  frontend/src/common/components/Redirect.tsx
  frontend/src/common/navigation/AsterHome.tsx
  frontend/src/common/navigation/Routes.tsx
  frontend/src/common/navigation/index.ts
  frontend/src/controller/Layout.tsx
  frontend/src/controller/Routes.tsx
  frontend/src/controller/components/ControllerRuleControl.tsx
  frontend/src/controller/components/ControllerRuleCreate.tsx
  frontend/src/controller/components/ControllerRuleEdit.tsx
  frontend/src/controller/components/ControllerRuleList.tsx
  frontend/src/controller/components/RuleEditor.tsx
  frontend/src/controller/components/RuleIteam.tsx
  frontend/src/controller/components/RuleList.tsx
  frontend/src/controller/model/api.ts
  frontend/src/controller/model/rule.ts
  frontend/src/dashboard/Routes.tsx
  frontend/src/dashboard/components/BillableChart.tsx
  frontend/src/dashboard/components/DashboardHome.tsx
  frontend/src/dashboard/model/billable.ts
  frontend/src/metrics/Routes.tsx
  frontend/src/metrics/components/.keep
  frontend/src/metrics/model/index.ts
Labels: Controller, Frontend

#160 Feat: Controller's routes: get by id and delete
  controller/src/lib.rs
  controller/src/routes.rs
Labels: Controller
